:root {
  --background: #eeebeb;
  --foreground: #171717;
  --foreground-light-bg: #171717;
  --foreground-dark-bg: #ededed;
}

[data-theme="dark"] {
  --background: #171717;
  --foreground: #f3f1f1;
  --foreground-light-bg: #ededed;
  --foreground-dark-bg: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 0.3s, color 0.3s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.card {
  background: white;
  color: var(--foreground-light-bg);
}

/* Exemplo de card escuro (se quiser aplicar diferente no dark mode) */
[data-theme="dark"] .card {
  background: #2c2c2c;
  color: var(--foreground-dark-bg);
}
